# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

dist/

coverage.txt

# Add terraform exclusion
terraform-provider-kibana
*.tfstate
*.tfstate.*
.terraform
.terraform.lock.hcl